<div class="container">
    <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" >
            <div class="container-card"  *ngFor="let wea of weather; let i = index">
                <mat-grid-tile *ngIf="i === 0" [colspan]="breakpoint">
                        <mat-card class="card">
                            <mat-card-header>
                                <mat-card-title>
                                    {{wea.name}}
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                    <div class="container-wether">
                                        <div class="temp-elements">
                                            <div class="temp">
                                                <span> {{wea.main.temp}}°</span>
                                            </div>
                                            <div class="icon">
                                                <img mat-card-image src="http://openweathermap.org/img/wn/{{wea.weather[0].icon}}@2x.png">
                                            </div>
                                            <div class="description align-center">
                                                {{wea.weather[0].description}}
                                            </div>
                                        </div>
                                    <div class="temp-medid">
                                        <div class="temp-left max">
                                            <mat-icon>arrow_drop_up</mat-icon>
                                            <div class="temp-max">
                                                {{wea.main.temp_max}}°
                                            </div>
                                            <span>Temperatura Alta</span>
                                        </div>
                                    
                                        <div class="temp-left min">
                                            <mat-icon>arrow_drop_down</mat-icon>
                                            <div class="temp-min">
                                                {{wea.main.temp_min}}°
                                            </div>
                                            <span>Temperatura Baja</span>
                                        </div>

                                    </div>
                                </div>
                            
                                <div [@bodyExpansion]="state" class="expandable-content">
                                    <mat-divider></mat-divider>
                                    <div class="elements-add">
                                        <div class="element">
                                            <mat-icon>wb_sunny</mat-icon>
                                            <span>Viento </span>
                                            <div class="text">{{wea.wind.speed}} km/h</div>
                                        </div>
                                        <div class="element">
                                            <mat-icon> edit_location</mat-icon>
                                            <span>Humedad</span>
                                            <div class="text">{{wea.main.humidity}}%</div>
                                        </div>
                                        <div class="element">
                                            <mat-icon> my_location</mat-icon>
                                            <span>Presión</span>
                                            <div class="text">{{wea.main.pressure}} mbar</div>
                                        </div>
                                    </div>
                                </div>
                            <mat-divider></mat-divider>
                        </mat-card-content>
                            <mat-card-actions>
                                <button mat-button (click)="toggle()" color="primary">Ver más</button>
                            </mat-card-actions>
                        </mat-card>
                </mat-grid-tile>

                <mat-grid-tile *ngIf="i !== 0" [colspan]="1.2"  id="card-cities">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                {{wea.name}}
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                                <div class="container-wether">
                                    <div class="temp-elements">
                                        <div class="temp-cites">
                                            <span> {{wea.main.temp}}°</span>
                                        </div>
                                        <div class="icon">
                                            <img mat-card-image src="http://openweathermap.org/img/wn/{{wea.weather[0].icon}}@2x.png">
                                        </div>
                                        <div class="description align-center">
                                            {{wea.weather[0].description}}
                                        </div>
                                    </div>
                                <div class="temp-medid">
                                    <div class="temp-left max">
                                        <mat-icon>arrow_drop_up</mat-icon>
                                        <div class="temp-max">
                                            {{wea.main.temp_max}}°
                                        </div>
                                        <span>Temperatura Alta</span>
                                    </div>
                                
                                    <div class="temp-left min">
                                        <mat-icon>arrow_drop_down</mat-icon>
                                        <div class="temp-min">
                                            {{wea.main.temp_min}}°
                                        </div>
                                        <span>Temperatura Baja</span>
                                    </div>

                                </div>
                            </div>
                        
                            <div [@bodyExpansion]="state" class="expandable-content">
                                <mat-divider></mat-divider>
                                <div class="elements-add">
                                    <div class="element">
                                        <mat-icon>wb_sunny</mat-icon>
                                        <span>Viento </span>
                                        <div class="text">{{wea.wind.speed}} km/h</div>
                                    </div>
                                    <div class="element">
                                        <mat-icon> edit_location</mat-icon>
                                        <span>Humedad</span>
                                        <div class="text">{{wea.main.humidity}}%</div>
                                    </div>
                                    <div class="element">
                                        <mat-icon> my_location</mat-icon>
                                        <span>Presión</span>
                                        <div class="text">{{wea.main.pressure}} mbar</div>
                                    </div>
                                </div>
                            </div>
                        <mat-divider></mat-divider>
                    </mat-card-content>
                        <mat-card-actions>
                            <button mat-button (click)="toggle()" color="primary">Ver más</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            </div>
    </mat-grid-list>
</div>
