.card {
    width: 100%;
    margin: 30px auto auto auto;
    background-color:  #0f1d4c80;
    color: white;
    padding: 20px;
    box-shadow: 1px 1px 3px #999;
    border-radius: 30px;
}

.temp {
    font-size: 50px;
    font-weight: 500;
}

.temp-cites
{
    font-size: 36px;
    font-weight: 500;
    width: 40%;
    float: left;
    padding-top: 10%;
    padding-left: 5%;
    margin-right: 20px;
}

.temp-elements{
    max-height: 100px;
    width: 90%;
}

.card-body{
    padding: 0.5rem;
}

.temp{
    width: 45%;
    float: left;
    padding-top: 10%;
}

.icon {
    width: 45%;
    float: left;
    height: 135px;
}

.icon img{
    width: 100%;
}

.description {
    width: 100%;
    font-size: 16px;
    opacity: 0.8;
    text-align: center;
    display: inline-block;
}

.temp-left span{
    opacity: 0.8;
}

.max .mat-icon{
    color: tomato;
}

.min .mat-icon{
    color: #1a1b19;
}

.container-wether{
    display: flex;
    margin-bottom: 20px;
}

#ver-mas span{
    color: #8f94b1 !important;
    text-decoration: underline !important;
}

.elements-add{
    display: flex;
}
.element{
    width: 33.3%;
}

.temp-medid {
    text-align: center;
}

.element span {
    width: 70%;
    display: block;
    float: right;
    font-size: 16px;
    opacity: 0.6;
    line-height: 1.5;
}

.element .text{
    font-size: 14px;
    width: 70%;
    line-height: 1.5;
    float: right;
}

body{
    background-color: chocolate;
}


.cards:first-child{
    max-width: 100%;
    flex: 0 0 100%;
}

.cards:first-child .card{
    width: 50%;
}

@media (max-width: 800px) {
    .cards:first-child .card{
        width: 100%;
    }
}

.card-header h1{
    font-size: 36px !important;
}

.card-header{
    border: none;
    background-color: transparent;
}